@import "../variables/colours";

.app__container {
  background: $color-background;
  border: 1px dotted;
  margin-top: 1rem;
  margin-left: 3rem;
  width: calc(100vw - (6rem + 250px));
  height: 100%;
}