@import "../variables/colours";
@import "../variables/fonts";

.button__orange--cta {
  background-color: $color-buttons;
  color: $color-background;
  border: none;
  padding: 7px 14px 7px 14px;
  margin-bottom: 16px;
  padding-inline: 0;
//  font-family: $;
}

button {
padding-inline: 0;
};