@import "../variables/colours";
@import "../variables/fonts";


.button__orange {
  background-color: $color-buttons;
  color: $color-background;
  padding: 14px 28px 14px 28px;
  border: 1px solid transparent;

  &--cta {
    margin-bottom: 28px;
    padding-inline: 28px;
  }

  &--footer {
    padding: 3.5px;
  }
}

button {
padding-inline: 0;
};