@import "../variables/fonts";
@import "../variables/colours";

.logo {
  font-family: $logo-font;
}
#first{
  font-weight:100;
  color: white;
}
#second{
  color: $color-buttons;
  font-weight: 700;
}