@import "../variables/colours";
@import "../functions";
@import "../components/logo";
@import "../variables/fonts";
@import "../components/header+nav";
//@use "sass:math";

.app__content {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 79.66px;
  left: 250px;
  background-image: url('../../images/background.png');
  background-size: contain;
  background-repeat: repeat;
}

div.app__container--app {
  background-color: transparent;
  border: none;
}