@use "sass:math";
@import "../variables/colours";
@import "../components/app__container";
@import "../components/table";

.recipes_name_warning, .recipes_description_warning{
  color: red;
  text-align: center;
}
.instructions_warning, .ingridients_warning{
  color: red;
}