@use "sass:math";
@import "../variables/colours";
@import "../components/app__container";
@import "../components/table";


////form
.schedules_form_header{
  display: flex;
  justify-content: space-between;
  margin: 1rem 2.5rem 1rem 2.5rem;
  border-bottom: 2px solid $color-text-rows;
}
.schedules_form_header_h2{
  color: $color-buttons;
}
.schedules_form_header_button{
  background-color: $color-buttons;
  color: $color-background ;
  border: none;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.schedules_form_buttons{
  margin: 1rem 2.5rem 1rem 2.5rem;
}
.schedules_form_name{
  margin-bottom: 1rem;
}
.schedules_form_description{
  margin-bottom: 1rem;
  display: flex;
};
.schedules_label{
  font-size: 1.5rem;
  color: $color-headline;
}
.schedules_label1{
  margin-right: 3rem;
}
.schedules_label2{
  margin-right: 4.7rem;
}
.schedules_label3{
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.schedules_input1{
  width: 79%;
  padding: 5px;
}
.schedules_input2{
  min-width: 79.1%;
  padding: 5px;
  min-height: 100px;
}
.schedules_form_number .schedules_input3{
  width: 2%;
  padding: 5px;
}
.schedules_form_number{
  margin-bottom: 1rem;
}

//table
.food{
  text-align: center;
  font-size: 13px;
  width: 130px;
}
.th_none{
  border-top: none;

}
.shedules_table td,th{
  color: $color-headline;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, serif;
}

.day{
  color: $color-headline;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, serif;
}

.shedules_table th,td{
  text-align: start;
}
.shedules_table select{
  padding: 3px;
  border-radius: 5px;
}
.new-plan-display-none{
  display: none;
}

.schedules_table td{
  text-align: center;
}
.schedules_table th{
  text-align: center;
}
#schedulesList td{
  text-align: left;
}
#errorMsg{
  display: none;
}


