//@use "sass.math";
@import "../variables/colours";
@import "../variables/fonts";

.dark__section {
  background: $color-headline;
  color: $color-background;
  padding: 28px 0 28px 0; // rem!
  &__left{
    width: 800px;
  }
}

.container__landingpage {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.dark__section__right-modifier {
  display: inline-block;
}