//@use "sass.math";
@import "../variables/colours";
@import "../variables/fonts";

.call-to-action {
  display: flex;
  justify-content: space-around;
  align-items: end;
  background: $color-headline;
  color: #fff;
  padding: 25px 0 25px 0; // po merge podmiana na rem
  //font-family: $;
}

