@import "../functions";
@import "../fonts";
@import "../fonts";
@import "header";
//@use "sass:math";

.features {
  max-width: 100%;
  margin: 100px auto 120px;
  display: flex;
  justify-content: space-around;
}

.features__icon {
  width: 50px;
  height: auto;
}

.features__item {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
