@import "../variables/colours";
@import "../variables/fonts";
@import "../normalize";


footer {
  background-color: $color-side;
  color: $color-background;
  font-family: $text-font;
  padding: 28px 0 0 0; // rem!
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 28px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}


.footer__ul {
  padding-left: 1rem;
}

.input__footer {
  padding-top: 7px;
}

.footer__copyright {
  background-color: $color-headline;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.footer__icons {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}

.footer__fb {
  width: 1.5rem;
  height: 1.5rem;
}

.footer__twitter {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}

.footer_ig {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;

}

.footer__btn {
  background-color: $color-buttons;
  color: $color-background;
}

.footer__form {
  padding-top: 1rem;
  display: flex;
}

.footer__log {
  color: $color-buttons;
  font-family: $text-font;
}