@import "../normalize";
@import "../functions";
@import "../colours";
@import "../fonts";
@import "../components/logo";

.header__nav {
display: flex;
  flex-direction: row;
  background-color: $color-headline;
  justify-content: space-around;
  font-family: $text-font;
}

body{
  background-color: #292F32;
}

.header__btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.header__button {
  margin: 1.2rem;
  padding: 0.3rem;
  background-color: $color-headline;
  border: none;
}
.header__button a:hover {
  color: $color-buttons;
}

a {
  text-decoration: none;
  color: white;
}
