@import "../normalize";
@import "../functions";
@import "../colours";
@import "../fonts";
.header__nav {
display: flex;
  flex-direction: row;
  background-color: $color-headline;
  justify-content: space-evenly;

  font-family: $text-font;
}
.header__logo {

}
.header__btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.header__button {
  margin: 1.2rem;
  padding: 0.3rem;
  background-color: $color-headline;
  border: none;
}
a:hover {

  color: $color-buttons;
}

span {
  color: #FF6600;
  font-family: $logo-font;
}
a {
  text-decoration: none;
  color: white;
}
