@import "variables/colours";

.container__recipes {

  margin: 1rem;

}
.container__border {
  background-color: $color-background;
  width: 80%;
  padding-right: 1rem;
  border: 0.2rem dashed gray;
}
#app_containerHide {
  border: none;
  background-color: transparent;
}

.recipes__downOverlay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;




}



.ingridients {
 margin-left: 2rem;
}

.instructions__input {
  margin-top:0.3rem;
  width: 40rem;
  height: 5rem;
}

.ingridients__input {
  margin-top: 0.3rem;
  width:40rem;
  height: 5rem;
}
.ingridients__list {
  height: 30rem;
  overflow: auto;
}
.border__down {
  border-bottom: 1px solid black;
}
.ingridients__overlay {
  display: flex;
}
.plus_icon {
  background-color: $color-message-success;
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 7px;
  margin-top: 0.3rem;
}


.img_size {
  width: 20px;
  height: 20px;
}

.instructions__list {
  height: 30rem;


}

.instruction_list_ul {

  list-style: decimal;
  max-height: 40rem;
}


.schedules_form_buttons{
  margin: 1rem 2.5rem 1rem 2.5rem;
}
.schedules_form_name{
  margin-bottom: 1rem;

}
.schedules_form_description{
  margin-bottom: 1rem;
}
.recipes_label{
  font-size: 1.5rem;
  color: $color-headline;
}
.recipes_label1 {
  margin-right: 3rem;

}
.recipes_label2 {

  margin-right: 4.7rem;
}

.recipes_input{

  width: 60%;
  max-width: 70%;
  padding: 5px;
}
.recipes_input2{

  width: 60%;
  height: 3rem;
  padding: 5px;
}

