@import "pages/schedules";

#app_containerHide {
  border: none;
  background-color: transparent;
}

.recipes__downOverlay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;

}
.instructions {
}

.ingridients {
 margin-left: 2rem;
}

.instructions__input {
  width: 40rem;
  height: 5rem;
}

.ingridients__input {
  width:40rem;
  height: 5rem;
}
.ingridients__list {
  max-height: 50rem;
  overflow: auto;
}
.border__down {
  border-bottom: 1px solid black;
}
.ingridients__overlay {
  display: flex;
}
.add__instructions {
  margin-left: 0.5rem;
  width: 3rem;
  height: 3rem;
}
.add__ingridients {
  margin-left: 0.5rem;
  width: 3rem;
  height: 3rem;
}
.instructions__list {
  max-height: 50rem;
  overflow: auto;
}

.schedules_form_buttons{
  margin: 1rem 2.5rem 1rem 2.5rem;
}
.schedules_form_name{
  margin-bottom: 1rem;
}
.schedules_form_description{
  margin-bottom: 1rem;
}
.schedules_label{
  font-size: 1.5rem;
  color: $color-headline;
}
.schedules_label1{
  margin-right: 3rem;
}
.schedules_label2{
  margin-right: 4.5rem;
}
.schedules_label3{
  margin-right: 1rem;
}
.schedules_input1{
  width: 79%;
  padding: 5px;
}
.schedules_input2{
  width: 79%;
  padding: 5px;
}
.schedules_input3{
  width: 2%;
  padding: 5px;
}