@import "variables/colours";

.icon__border {
  border: 1px solid $color-message-success;
  width: 1rem;
  height: 1rem;
}



.przepis__text {
  color:$color-message-success ;
}

.prev__dni {
  color:$color-buttons ;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.angles {
  width: 1rem;
  height: 1rem;
}

.left {
  width: 15rem;
  height: 12rem;
  background-color: #fff;
  border: 0.3rem dashed grey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 2rem;
  margin-top: 2rem;
}

.icon {
  border: 0.3rem solid $color-message-success  ;
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right__3 {
  height: 12rem;
  flex-direction: column;
 margin-top: 1rem;

}
.right__31 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $color-message-info;
  height: 1rem;
  background-color: #fff;
  border: 0.3rem dashed grey;
  padding: 0.9rem;

  margin-top: 1rem;
  margin-bottom: 1rem;

}

.info {
  border-color:$color-message-info ;
  height: 2rem;
  width: 2rem;

}

.info_btn {
  background-color: $color-message-info;
  color: white;
  border-radius: 5px;
  border: none  ;
  padding-inline: 0.3rem;
}

.info_text {
  padding-right: 32rem;
  padding-left: 1rem;
}

.right__32 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $color-message-warning;
  height: 1rem;
  background-color: #fff;
  border: 0.3rem dashed grey;
  padding: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.alert {
  border-color:$color-message-warning ;
  height: 2rem;
  width: 2rem;
}

.alert_text {
  padding-right: 34rem;
  padding-left: 1rem;
}

.alert_btn {
  background-color: $color-message-warning;
  color: white;
  display: flex;
  justify-content:flex-end;
  border-radius: 5px;
  border: none  ;
  padding-inline: 0.3rem;
}

.right__33 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $color-message-success;
  height: 1rem;
  background-color: #fff;
  border: 0.3rem dashed grey;
  padding: 0.9rem;
}

.check{
  border-color:$color-message-warning ;
  height: 2rem;
  width: 2rem;
}

.check_text{
  padding-right: 21rem;
  padding-left: 1rem;
}

.check_btn{
  background-color: $color-message-success;
  color: white;
  display: flex;
  justify-content:flex-end;
  border-radius: 5px;
  border: none  ;
  padding-inline: 0.3rem;
}

button:hover {
  cursor: pointer;
}

.right {
  width: 10rem;
  height: 10rem;
  border: 0.3rem dashed $color-message-success;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.ukryteMiddle{
  display: none;
}


.ukrytePrzepis  {
display: none;
}

.ukrytePlan {
display: none;
}
.btns__notifications {

  display: flex;
  justify-content: space-between;
  height: 15rem;
  padding: 0;
  margin: 0;
  width: 100%;


}
.dashboard__srodek {
 flex-wrap: wrap;
  display: flex;

}



.plan__main {
  background-color: #fff;
  color: gray;
  width: 100%;

  border: 0.3rem dashed gray;
}

.dni_tygodnia {
  color: black;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}
.uppercase {
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}
td {
 width: 2rem;
  height: 4rem;
}

.sniadanie{
  font-size: 30px;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.drugie_sniadanie {
  font-size: 20px;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.zupa {
  font-size: 30px;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.drugie_danie {
  font-size:20px;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.twój__plan {
  font-size: 40px;
  color: #FF6600;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;
}

.kolacja {
  height: 5rem;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.next-prev {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}
