@import "colours";

.icon__border {
  border: 1px solid $color-message-success;
  width: 1rem;
  height: 1rem;
}


.left {
  width: 15rem;
  height: 12rem;
  background-color: #fff;
  border: 0.3rem dashed grey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;


}

.icon {
  
  border: 0.3rem solid $color-message-success  ;
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right__3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right__31 {

  height: 1rem;
  background-color: #fff;
  border: 0.3rem dashed grey;
  padding: 0.9rem;

}
.right__32 {

  height: 1rem;
  background-color: #fff;
  border: 0.3rem dashed grey;
  padding: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.right__33 {
  width: 50rem;
  height: 1rem;
  background-color: #fff;
  border: 0.3rem dashed grey;
  padding: 0.9rem;
}
button:hover {
  cursor: pointer;
}

.right {
  width: 10rem;
  height: 10rem;

  border: 0.3rem dashed $color-message-success;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle {
 display: flex;
  color: $color-message-success;



  align-items: center;

}

.ukryteMiddle{
  display: none;
}
.przepis {
  width: 200px;
  height: 200px;
  background-color: blue;
}
.plan {
  width: 200px;
  height: 200px;
  background-color: red;
}

.ukrytePrzepis  {
display: none;
}
.ukrytePlan {
display: none;
}
.dashboard {

  display: flex;
  padding-inline: 4rem;
}
.dashboard__srodek {
  display: flex;

}
.plan {
  width: 500px;
  height: 200px;
  background-color: red;
  display: flex;
}