@import "normalize";
@import "variables/fonts";
@import "variables/colours";
@import "layout/carousel";
@import "layout/header";
@import "layout/call-to-action";
@import "components/buttons";
@import "layout/features";
@import "layout/footer";
@import "layout/newsletter";
@import "layout/aboutMe";
@import "pages/app";
@import "recipes-form";
@import "pages/_recipes.scss";
@import "pages/schedules";
@import "addNewRecipe";
@import "addRecipes";

body {
  background-color: $color-background;
  font-family: $text-font;
  font-size: $base-font-size;
}

.container {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  background-color: $color-background;
}

.container__landingpage {
  width: 70%;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

