@import "normalize";
@import "variables/fonts";
@import "variables/colours";
@import "layout/carousel";
@import "layout/header";
@import "layout/call-to-action";
@import "components/buttons";
@import "layout/features";
@import "layout/footer";
@import "pages/app";
@import "recipes-form";
@import "pages/_recipes.scss";
@import "pages/schedules";
@import "addRecipes";

body {
  background-color: $color-background;
  font-family: $text-font;
  font-size: $base-font-size;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}


