@import "normalize";
@import "fonts";
@import "colours";
@import "layout/call-to-action";
@import "components/buttons";

body {
  background-color: $color-background;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

