@import "colours";
@import "fonts";
@import "dodaj";

.recipes_form{
  box-sizing: border-box;
  margin: 2rem 3rem 1rem 3rem;
  width: 80%;
  height: 80%;
  background-color: $color-background;
  color: $color-side;
  border: 1px dashed black;
  text-align: center;
  font-family: Arial, serif;
}


.recipes_h2{
 padding-top: 3rem;
}
.recipes_button{
  margin-top: 1rem;
  background-color: $color-buttons ;
  color: $color-background;
  padding: 6px 20px;
  border: none;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: Arial, serif;
  display: inline-block;
}

.recipes_input{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
}

.recipes_h3{
  font-weight: bold;
  font-size: 1.5rem;
}
.ukrtyeForm {
  display: none;
}
.recipes_p{
  color: red;
}