$color-side: rgb(91, 96, 95);              // panel boczny, nawigacja
$color-headline: rgb(74, 74, 73);          // nagłówek, , kolor tekstu w kolumnach
$color-buttons: rgb(255, 102, 0);          // przyciski, wyróżnienia, nagłówki ekranów
$color-background: rgb(255, 255, 250);     // kolor tła ekranów
$color-message-info: rgb(52, 152, 219);    // kolor wiadomości typu info,
$color-message-warning: rgb(255, 176, 59); // kolor wiadomości typu warning
$color-message-success: rgb(70, 137, 102); // kolor wiadomości typu success
$color-icon-bucket: rgb(189, 73, 50);      // kolor ikony kosza
$color-text-rows: rgb(161, 161, 148);      // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
