$base-font-size: '14px';

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
  url('../../fonts/Open Sans/opensans-regular-webfont.woff2') format('woff2'),
  url('../../fonts/Open Sans/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Charmonman';
  src: local('Charmonman'),
  url('../../fonts/Charmonman/charmonman-regular-webfont.woff2') format('woff2'),
  url('../../fonts/Charmonman/charmonman-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$text-font: 'Open Sans';
$logo-font: 'Charmonman';



